
#nowOpen {
	width: 200px;
	float: right;
	padding: 10px;
	text-align: center;

	color: white;
	font-size: 150%;
	background-color: gold;

	border-style: solid;
	border-width: 1px;
	border-color: dimGrey;
	}
